#centralDivLanding {
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: #1f1f1f;
    border-radius: 15px;
}

.card {
    width: 100%;
    max-width: 450px;
    height: auto;
    margin: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s;
}

.card:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}